%h1
  Following controller, edit action
%p
  Edit this file in
  %tt
    app/views/following/edit.html.erb
= error_messages_for @following

= form_for(@following, :action => url(:following, @following)) do
  %p
    = submit "Update"

= link_to 'Show', url(:following, @following)
|
= link_to 'Back', url(:following)